body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Light background color */
}

header {
    background-color: #f2f2f2; /* Light header background */
}

main {
    background-color: #fff; /* White background for main content */
}

.img-fluid {
    border-radius: 5px; /* Rounded image corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle image shadow */
}
