body {
    background-color: #dee2e6;
}

h1 {
    margin-bottom: 20px;
}

#messagesList {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    
}

#messagesList .list-group-item {
     background-color: #e9ecef;
     border: 1px solid #dee2e6;
     margin: 2px;
}
