@page
@model ProductsModel
@{
    ViewData["Title"] = "Chat em Tempo Real";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Products</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        @await Html.PartialAsync("_Navbar")
    </nav>

</body>
